// TIPOGRAFÍA
$fuente-principal: 'Montserrat', sans-serif;

// COLORES
$verde: #4CB8B3;
$rosa: #F53756;
$amarillo: #FEF46D;
$morado: #752f97;
$negro: #000000;
$blanco: #ffffff;

//TAMAÑOS DE PANTALLA

$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopXL: 1200px;

