@use "base";

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 1.8rem;
    font-family: base.$fuente-principal;
}

.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1, h2, h3, p {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    line-height: 1.5;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 3rem;
}

img {
    display: block;
    max-width: 100%;
}