@use "../base/variables" as v;
@use '../base/mixins' as m;

.header {
    background-color: v.$verde;
}

.contenido-header {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include m.tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.header-title {
    color: v.$blanco;
    text-align: center;
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include m.tablet {
        flex-direction: row;
        gap: 2rem;
    }
}

.navegacion-principal-link {
    color: v.$blanco;
    display: block;
    text-align: center;
    transition: .3s;
    &:hover {
        color: v.$amarillo;
    }
}

